USE [master]
GO
/****** Object:  Database [pizza]    Script Date: 6/4/2019 3:55:40 PM ******/
CREATE DATABASE [pizza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pizza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pizza.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pizza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\pizza_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pizza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pizza]
GO
/****** Object:  Table [dbo].[pkind]    Script Date: 6/4/2019 3:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pkind](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](20) NOT NULL,
	[Description] [nchar](100) NOT NULL,
 CONSTRAINT [PK_pkind] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POrders]    Script Date: 6/4/2019 3:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POrders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PriceId] [int] NOT NULL,
	[PID] [int] NOT NULL,
	[NOrders] [int] NOT NULL,
	[Descrip] [nchar](100) NULL,
	[PriceTotal] [float] NOT NULL,
 CONSTRAINT [PK_POrders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PPrice]    Script Date: 6/4/2019 3:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPrice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PKindID] [int] NOT NULL,
	[Time] [nchar](20) NOT NULL,
	[IsCurrent] [int] NOT NULL,
 CONSTRAINT [PK_PPrice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 6/4/2019 3:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameSurname] [nchar](10) NOT NULL,
	[PN] [bigint] NOT NULL,
	[MobileNumber] [nchar](10) NOT NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[POrders]  WITH CHECK ADD  CONSTRAINT [FK_POrders_POrders] FOREIGN KEY([PID])
REFERENCES [dbo].[pkind] ([ID])
GO
ALTER TABLE [dbo].[POrders] CHECK CONSTRAINT [FK_POrders_POrders]
GO
ALTER TABLE [dbo].[POrders]  WITH CHECK ADD  CONSTRAINT [FK_POrders_PPrice] FOREIGN KEY([PriceId])
REFERENCES [dbo].[PPrice] ([ID])
GO
ALTER TABLE [dbo].[POrders] CHECK CONSTRAINT [FK_POrders_PPrice]
GO
ALTER TABLE [dbo].[POrders]  WITH CHECK ADD  CONSTRAINT [FK_POrders_userinfo] FOREIGN KEY([UserID])
REFERENCES [dbo].[userinfo] ([ID])
GO
ALTER TABLE [dbo].[POrders] CHECK CONSTRAINT [FK_POrders_userinfo]
GO
ALTER TABLE [dbo].[PPrice]  WITH CHECK ADD  CONSTRAINT [FK_PPrice_pkind] FOREIGN KEY([PKindID])
REFERENCES [dbo].[pkind] ([ID])
GO
ALTER TABLE [dbo].[PPrice] CHECK CONSTRAINT [FK_PPrice_pkind]
GO
USE [master]
GO
